# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Mac files
.DS_Store

# Private files
.hg
.hgignore
.hgtags
deployment.log
make.pl
Makefile
Makefile.common
_private
Apps
ClimateControl
Cocina
config_h
Frente
Jardin
libraries/AudioController
Living
PA_Este
PA_Oeste
PA_Oeste_Nano
ResourcePreprocesor
SS
Techo
TransferSwitch
